body,
html {
  background-color: lightgreen;
}

/* 切换页面动画效果 */
.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}

/* 自定义前缀 切换动画效果, 配合transition: 'test'使用 */
.test-enter-active,
.test-leave-active {
  transition: opacity 0.5s;
  background-color: red;
}
.test-enter,
.test-leave-active {
  opacity: 0;
}
